body{
  background: #595959;
}
#baymax {
  margin: 10px auto 0;
  height: 600px;
  overflow: hidden;
}
#head {
  width: 100px;
  height: 64px;
  border-radius: 50%;
  background: #fff;
  margin: 0 auto;
  border-bottom: 5px solid #e0e0e0;
  z-index: 100px;
  margin-bottom: -20px;
  position: relative;
}

#eye,
#eye2 {
  width: 11px;
  height: 13px;
  background: #000;
  border-radius: 50%;
  position: relative;
  top: 30px;
  left: 25px;
  transform: rotate(8deg);
}
#eye2 {
  left: 64px;
  top: 17px;
  transform: rotate(-8deg);
}
#mouth {
  width:34px;
  height: 1.5px;
  background: #000;
  position: relative;
  top: 10px;
  left: 36px;
}
#torso,
#belly {
  width: 180px;
  height: 200px;
  background: #fff;
  border-radius: 47%;
  margin: 0 auto;

  border: 5px solid #e0e0e0;
  border-top: none;
  z-index:1;
}
#belly {
  width: 245px;
  height: 300px;
  margin-top: -140px;
  border-radius: 50%;
}
#cover {
  width: 190px;
  height: 150px;
  background: #fff;
  margin: 0 auto;
  position: relative;
  top: -20px;
  border-radius: 50%;
}
#heart {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid #e0e0e0;
  position: relative;
  top: 30px;
  left: 100px;
  z-index: 10;
  box-shadow: 2px 5px 2px #ccc inset;
}
#left-arm,
#right-arm {
  height: 270px;
  width: 120px;
  background: #fff;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  top: -345px;
  left: -100px;
  z-index: -1;
  transform: rotate(20deg);
}
#right-arm {
    transform: rotate(-20deg);
    left: 100px;
    top: -620px;
}
#l-bigfinger,
#r-bigfinger {
    height: 50px;
    width: 20px;
    border-radius: 50%;
    background: #fff;
    position: relative;
    top: 250px;
    left: 50px;
    transform: rotate(-50deg);
}

#r-bigfinger {
    left: 50px;
    transform: rotate(50deg);
}

#l-smallfinger,
#r-smallfinger {
    height: 35px;
    width: 15px;
    border-radius: 50%;
    background: #fff;
    position: relative;
    top: 195px;
    left: 66px;
    transform: rotate(-40deg);
}

#r-smallfinger {
    background: #fff;
    transform: rotate(40deg);
    top: 195px;
    left: 37px;
}
#left-leg,
#right-leg {
    height: 170px;
    width: 90px;
    border-radius: 40% 30% 10px 45%;
    background: #fff;
    position: relative;
    top: -640px;
    left: -45px;
    transform: rotate(-1deg);
    z-index: -2;
    margin: 0 auto;
}

#right-leg {
    background: #fff;
    border-radius:30% 40% 45% 10px;
    margin: 0 auto;
    top: -810px;
    left: 50px;
    transform: rotate(1deg);
}
