@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?wsj7ng');
  src:  url('fonts/icomoon.eot?wsj7ng#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?wsj7ng') format('truetype'),
    url('fonts/icomoon.woff?wsj7ng') format('woff'),
    url('fonts/icomoon.svg?wsj7ng#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 30px;
  color: #797575;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-project:before {
  content: "\e900";
}
.icon-design:before {
  content: "\e901";
}
.icon-github:before {
  content: "\e902";
}
.icon-game:before {
  content: "\e903";
}
.icon-search:before {
  content: "\e986";
}
.icon-web:before {
  content: "\e9ca";
}
