/*wrapper > container > sphere > ring*/
body {
  background: #000;
  overflow: hidden;
}

.wrapper{
  perspective: 800px;
  display: flex;
  justify-content: center;
  filter: blur(1.5px);
}

.content {
  transform-style: preserve-3d;
  transform: rotateX(40deg) rotateY(40deg) rotateZ(90deg);
  position: relative;
  display: flex;
  height: 300px;
  width: 300px;
  margin: 100px 0;
}
.sphere, .ring {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}
.sphere {
  animation: rotateSphere 10s linear infinite;
  &:nth-of-type(1) {
    @for $i from 1 through 10 {
      .ring:nth-of-type(#{$i}) {transform: rotateX($i*18deg);}
    }
  }
  &:nth-of-type(2) {
    @for $i from 1 through 10 {
      .ring:nth-of-type(#{$i}) {transform: rotateY($i*18deg);}
    }
  }
}

$colors: #40E0D0, #4AE2D2, #53E3D5, #5DE5D7, #66E6D9, #70E8DC, #79E9DE, #83EBE0, #8CECE3, #96EEE5;

.ring {
  border: 2px solid;
  box-sizing: border-box;
  border-radius: 50%;
  opacity: 0;
  animation: fadein 2000ms ease infinite;
  @for $i from 1 through 10 {
    &:nth-of-type(#{$i}) {
      border-color: nth($colors, $i);
      animation-delay: $i*200ms;
    }
  }
}

@keyframes rotateSphere {
  to {
    transform: rotateX(360deg) rotateY(360deg);
  }
}

@keyframes fadein {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
