
.home {
  margin: 0 auto;
  height:700px;
  overflow:hidden;
}
.github,
.game,
.web,
.project,
.design,
.search {
  text-align: center;
  width: 180px;
  height: 140px;
  position: relative;
  margin: 20px auto 0;
  box-shadow: -19px 25px 70px -25px #ccc;
  z-index: 3;
  box-sizing: border-box;
}
.game {
  transform:rotate(120deg);
  position:relative;
  right: -270px;
  top: -295px;
}
.project{
  transform:rotate(180deg);
  position:relative;
  top:-300px;
  left:65px;
}
.design{
  transform:rotate(240deg);
  position:relative;
  left:-165px;
  top:-70px;
}
.web{
  transform:rotate(60deg);
  position:relative;
  right: -235px;
  top: -225px;
}
.github {
  transform:rotate(-60deg);
  position:relative;
  left:-195px;
  top:-5px;
}
.github::before,
.game::before,
.web::before,
.project::before,
.design::before,
.search::before {
  display: block;
  box-sizing: border-box;
  content: "";
  width: 30px;
  height: 30px;
  border: 7px solid #f5e137;
  background: #fff;
  border-radius: 50%;
  position: relative;
  top: 125px;
  left: -15px;
  z-index: 2;
}
.github::before{
  border: 7px solid #85d94b;
}
.web::before{
  border: 7px solid #db2222;
}
.design::before{
  border: 7px solid rgba(5, 192, 193, 0.51);
}
.game::before{
  border: 7px solid hsla(184, 16%, 57%, 0.99);
}
.project::before{
  border: 7px solid rgb(67, 204, 161);
}
.github::after,
.game::after,
.web::after,
.project::after,
.design::after,
.search::after {
  display: block;
  content: "";
  width: 193px;
  height: 20px;
  background-color: #fe8414;
  border-top-left-radius: 5px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 10px;
  box-shadow: 11px 7px 20px 0px #ccc;
  position: relative;
  top: 15px;
  left: 8px;
  z-index: 1;
}
.github::after{
  background-color: rgba(32, 185, 45, 0.82);
}
.game::after{
  background-color: rgb(69, 112, 130);
}
.web::after{
  background-color: #f90303;
}
.project::after{
  background-color: rgb(65, 183, 179);
}
.design::after{
  background-color: #14b0fe;
}
.home a {
  text-decoration:none !important;
}
.center{
  position:relative;
  top: -750px;
  left: 30px;
  width:200px;
  height: 250px;
  margin:0 auto;
}
.center img{
  width: 100px;
}
/*setion-home over*/
